body {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
  color: white;
  font-family:
    "Times New Roman",
    "SimSun",
    "Hiragino Sans",
    -apple-system,
    BlinkMacSystemFont,
    Arial,
    sans-serif;

  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("Futaba.Tsukushi.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-box {
  max-width: 800px;
  background-color: rgba(0,0,0,0.25);
  padding: 24px;
  margin: 40px auto;
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
}

.content-box p {
  margin: 0 0 1em 0;
}

.indent {
  text-indent: 2em;
  text-align: left;
}

h1 {
  color: white;
  padding: 2.2rem;
  text-align: center;
  margin: 40px 0 20px
}
            
a{
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #6965c9;
}
